    <title>
      {%- capture title -%}
        {%- if page.title == 'Home' -%}
          {%- if site.tagline -%} {{ site.title }} &middot; {{ site.tagline }} {%- else -%} {{ site.title }} {%- endif -%}
        {%- else -%}
          {{ page.title | default: layout.title }} &raquo; {{ site.title }}
        {%- endif -%}
      {%- endcapture -%}
      {%- capture clean_title -%}
        {%- include tools/text_process.md strip=true data=title -%}
      {%- endcapture -%}
      {{- clean_title | strip_html }}
    </title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=2'>

    <meta property='og:title' content='{{ clean_title | strip_html }}'>

    <link rel='canonical' href='{{ page.url }}' />
    <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/purity.css'>