@import "partials/site-header";

// TODO: Verify / Calculate
$header-height: 80;
$header-height-medium-screen: 72;
@if $site-tagline == 0 {
  $header-height: 64;
  $header-height-medium-screen: 48;
}

.site-header {
  padding-bottom: 0px;
  position: fixed;
  height: $header-height + px;

  @include media(medium) {
    height: $header-height-medium-screen + px;
  }
}

$site-header-vspace: $header-height + $header-border-height;
$site-header-vspace-small-screen: $header-height + $header-border-height;
$site-header-vspace-medium-screen: $header-height-medium-screen + $header-border-height;