@import "//cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css";

@import "//cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-min.css";

@import "//cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css";

@import "//use.fontawesome.com/releases/v7.2.0/css/all.css";
