---
---

{% include sass_config.md %}

@import 'partials/base';
@import 'partials/_palette';

.container {
  margin-top: 1.25em;
  font-size: 1.125em;

  .posts {
    margin-top: -1.25em;

    .post {
      margin: 1.25em 0;

      .categories {
        margin: 0.4em 0 0 6.5em;
        opacity: 0.8;
        font-size: 0.85em;

        .category {
          display: inline-block;
          height: 1.5em;
          letter-spacing: 0.025em;
          margin: 0em 0.3125em;
          border-radius: 0.3125em;
          background: #e4e4e4;
        }
      }

      .date {
        opacity: 0.7;
        font-size: 0.975em;
        letter-spacing: 0.075em;
      }

      .tagline {
        margin: 0.1em 0 0 7.875em;
        font-size: 0.725em;
        font-style: italic;
      }

      .title {
        font-weight: bold;
      }
    }
  }

  .cat-explorer {
    margin-bottom: 0.5em;

    h3 {
      margin: 0;
    }

    .cat {
      margin: 0.25em;

      &.selected {
        a {
          border-radius: 0.3125em;
          background: #e4e4e4;
          @include set_color_and_hover($color-medium-accent);
        }
      }

      &.cat-root {
        margin-top: 0.5em;

        .cat-icon {
          color: #ffc107;
        }
      }
      .cat-icon {
        margin-left: 1em;
        opacity: 0.65;
        color: #6c757d;
      }

      a {
        letter-spacing: 0.025em;
        padding: 0em 0.5em;
      }

      small {
        margin-left: 8px;
        opacity: 0.5;
        font-size: 0.85em;
      }
    }
  }
}
