---
---

{% include sass_config.md %}

.utterances {
  max-width: 100%;
}

.tagline {
  font-size: 0.95em;
  margin: -0.625em 0 0 0;
  letter-spacing: 0.025em;
  font-style: italic;
}

.post-header {
  margin-bottom: 1.5em;
  opacity: 0.8;

  .categories {
    margin: 0.75em 0 0.75em;
    .category {
      display: inline-block;
      height: 1.5em;
      letter-spacing: 0.02em;
      margin: 0.2em 0.3125em 0.2em 0;
      border-radius: 0.3125em;
      background: #ddd;
    }
  }

  .date {
    display: inline-block;
    font-size: 1.2em;
    font-family: $site-font-stack-mono;
  }

  .right {
    float: right;
    opacity: 0.6;
  }
}

.changelog {
  details {
    summary {
      i {
        opacity: 0.4;
      }
    }
  }
}

.post-content {
  text-align: justify;
  counter-reset: figure;

  h2, h3, h4, h5, h6, .heading {
    margin-top: 1.625rem;
  }

  img {
    text-align: center;
  }

  ul {
    list-style: none;
  
    > li::before {
      content: "\2022";
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  ol.heading-list-items {
    li {
      margin-top: 0.75em;
    }
  }
}

.post-footer {
  text-align: justify;
  font-size: 0.725em;
  margin-bottom: 1em;
}