{%- assign base_font = site.fonts.base | default: 'Noto Sans' -%}
{%- assign head_font = site.fonts.head | default: 'Montserrat' -%}
{%- assign mono_font = site.fonts.mono | default: 'Ubuntu Mono' -%}
{%- capture NEWLINE %}
{% endcapture -%}
<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title>
      {%- capture title -%}
        {%- if page.title == 'Home' -%}
          {%- if site.tagline -%} {{ site.title }} &middot; {{ site.tagline }} {%- else -%} {{ site.title }} {%- endif -%}
        {%- else -%}
          {{ page.title | default: layout.title }} &raquo; {{ site.title }}
        {%- endif -%}
      {%- endcapture -%}
      {%- capture clean_title -%}
        {%- include tools/text_process.md strip=true data=title -%}
      {%- endcapture -%}
      {{- clean_title | strip_html -}}
    </title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=2'>
    <meta property='og:locale' content='en_US' />
    <meta property="og:type" content='article' />

    <meta name='author' content='{{ site.author.name }}' />
    <meta property='og:site_name' content='{{ site.author.name }}' />
    <meta property='og:title' content='{{ clean_title | strip_html }}'>
    <meta property='og:url' content='{{ site.url }}{{ page.url | replace: "index.html", ""}}' />
    <meta property='article:published_time' content='{{ page.post_date | default: site.time | date_to_long_string }}' />

    {% capture desc -%}
      {{ page.description | default: page.tweet | default: page.tagline | default: clean_title | strip | replace: NEWLINE, " " }}
    {%- endcapture -%}
    {% if desc -%}
    <meta name='description' content='{{ desc }}' />
    <meta property='og:description' content='{{ desc }}' />
    {%- endif %}

    <link rel='canonical' href='{{ site.url }}{{ page.url | replace: "index.html", ""}}' />
    <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/purity.css'>

    {% if layout.prismjs or page.prismjs -%}
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autolinker/prism-autolinker.min.css"
          integrity="sha512-4ZmAB2UXPu3Rgy5ZClpqnJ/zXXZBdulFXY1eWMLgIjp2HWgkHGIpr1b7kmCK+rdD5NYfivTp47UR+bQ4oTBllQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css"
          integrity="sha512-EgIkdlA87NL5dPmI6HztTCpg7XKfZRFQHbpEdDF3hCT45HjjmIJOx8K73r+YZha0vKyOcMpzC7fZ4RajCX25tg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/inline-color/prism-inline-color.min.css"
          integrity="sha512-jPGdTBr51+zDG6sY0smU+6rV19GOIN9RXAdVT8Gyvb55dToNJwq2n9SgCa764+z0xMuGA3/idik1tkQQhmALSA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css"
          integrity="sha512-nXlJLUeqPMp1Q3+Bd8Qds8tXeRVQscMscwysJm821C++9w6WtsFbJjPenZ8cQVMXyqSAismveQJc0C1splFDCA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css"
          integrity="sha512-cbQXwDFK7lj2Fqfkuxbo5iD1dSbLlJGXGpfTDqbggqjHJeyzx88I3rfwjS38WJag/ihH7lzuGlGHpDBymLirZQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%- endif %}

    {% if layout.revealjs or page.revealjs -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/reveal.min.css"
          integrity="sha512-1vDOkqtCXgcn0zgLIrxVjSIHvXOB/Ho2k33zwIDMqStDdHWvQyVU+BGG2fK4nnOgDbg0jEzVqzTYTL65orMyWw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/theme/{{ page.theme | default: layout.theme | default: 'solarized' }}.min.css' id='theme'/>

    <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/reveal.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/reveal.min.js"
            integrity="sha512-TC5IA+BA/5YPBb/MJyk97ypzvXYUIlAksfuxlUXlhD7cM7y/stM4JuytDeYJlsiKxmRDV5krDyuugOoMOHwyJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    {%- endif %}

    {% if layout.pseudocode or page.pseudocode -%}
    <link defer rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.css">
    {%- endif %}

    {% for sheet in layout.css -%}
    <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/{{ sheet }}.css'>
    {%- endfor -%}
    {% for sheet in page.css %}
      {%- assign pre = sheet | slice: 0,2 -%}
      {%- if pre == './' -%}
        <link rel='stylesheet' href='{{ page.url | replace: "index.html", ""}}{{ sheet | split: "./" | last }}.css'>
      {%- else -%}
        <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/{{ sheet }}.css'>
      {%- endif %}
    {%- endfor %}

    {% if layout.prismjs or page.prismjs -%}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
            integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autolinker/prism-autolinker.min.js"
            integrity="sha512-h92O152CCXt3xEUWDYTGLz58u+IOpZU8Z2MEkkBsXsRlAhckPFeEolarVn7tOhTVbjsJPpyknL0CFUrc2rlgPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"
            integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"
            integrity="sha512-6nsaJ4jytF/0bh+5QJY4SOLuZZmcd/TAXHBkLIX/SH1ENpWezpQDJ4LpK2D1IfpjKVyhJQQaNSSvfsQjuYfTow=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-css-extras.min.js"
            integrity="sha512-5tPZiBRejDT7LdjPEytO8cQEox9psTNkjppGOA457LZ/mXVmPY336d9jq4FFpeeCdYz6aMkbVU+8kvhAC2xCZQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/filter-highlight-all/prism-filter-highlight-all.min.js"
            integrity="sha512-Dj7Y7jQDpkXQSBiea4ZtcGAy+3EBAO8Vy5pOdbfWKxaceDgeoAnUMaCVzNDg2wCI5Ye+rJb9eS3NnlkBheiacA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"
            data-reject-selector=".no-highlight *">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/inline-color/prism-inline-color.min.js"
            integrity="sha512-QK2YjLmowNZnKMI1UZNu0NxMPQZ3oxsbz2rRzmHt+xth2mKyFqied1D2TSDbSX+vAjHEgdWYZF/i4YI9sD0aNw=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"
            integrity="sha512-255MpVHZHmxNdOj/PivQ+WSTYFjBxTMfmIszxwsJobUeaoDNUAnAQjYF5TznbiZXrXqpCy8q4QyvJzhykpof3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"
            integrity="sha512-BttltKXFyWnGZQcRWj6osIg7lbizJchuAMotOkdLxHxwt/Hyo+cl47bZU0QADg+Qt5DJwni3SbYGXeGMB5cBcw=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs-bibtex@2.1.0/prism-bibtex.js"
            integrity="sha256-A5GMUmGHpY8mVpfcaRLQFeHtmdjZLumKBOMpf81FXX0="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    {%- endif %}

    {% if layout.mermaid or page.mermaid -%}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.6.1/mermaid.min.js"
            integrity="sha512-yD6UxqB1PGCP/nC8vd2pcozgicMkT/FEFo98T0ian+EtJPkbAL+h5gYV3r5Fpy1XWTVdDVoHx/E/9fFHdrHu1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"
            integrity="sha256-9GNxAyAInGHQ9XzsK4hsAt4E4h65Lr0i6qMn/fCmt8Y="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    {%- endif %}

    {% if layout.mathjax or page.mathjax -%}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml-full.min.js"
            integrity="sha512-PbLRl9V4qEM7j3xggKupLNdcodHT0w+x77S/JoTWxrhPEVZ0NkTPp90bzUeTyFXsBzsaApVOZdCHIzL6o51KiA=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    {%- endif %}

    {% if layout.pseudocode or page.pseudocode -%}
    <script defer src="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.js">
    </script>
    {%- endif %}
  </head>

  <body>
    {{ content }}

    {% if layout.mermaid or page.mermaid -%}
    <script>
      const mmdCodeSelector = "pre.no-highlight code.language-mermaid:not(details:not([open]) .language-mermaid)";
      const mmdLabelSelector =
        "code.language-mermaid[data-processed='true'] svg[id^='mermaid'] span[class$='Label'], \
         code.language-mermaid[data-processed='true'] svg[id^='mermaid'] span[class*='Label ']";

      function SVGPanZoomResize (panZoom) {
        panZoom.resize().fit().center();
      }

      function mermaidCallback (svgId) {
        const svg = document.getElementById(svgId);
        svg.style.fontSize = '15px';

        {% if layout.mathjax or page.mathjax -%}
          MathJax.typeset(svg.querySelectorAll(mmdLabelSelector));
        {%- endif -%}

        if (!svg.parentElement.parentElement.classList.contains('no-pan-zoom')) {
          svg.style.maxWidth = 'unset';
          const oldHeight = svg.getBoundingClientRect().height;
          const panZoom = svgPanZoom(svg, {
            controlIconsEnabled: !svg.parentElement.parentElement.classList.contains('no-pan-zoom-controls'),
            preventMouseEventsDefault: false,
            mouseWheelZoomEnabled: false,
          });
          svg.style.height = Math.round(oldHeight) + 'px';
          SVGPanZoomResize(panZoom);
        }
      }
      
      document.addEventListener('DOMContentLoaded', function () {
        mermaid.initialize({
          fontFamily: '{{ head_font }}',
          htmlLabels: true,
          startOnLoad: false,
        });
        mermaid.run({
          querySelector: mmdCodeSelector,
          postRenderCallback: mermaidCallback,
        });

        window.addEventListener("resize", function () {
          Array.prototype.forEach.call(
            document.querySelectorAll('code.language-mermaid svg[id^=mermaid] > g.svg-pan-zoom_viewport'),
            g => {
              const svg = g.parentElement;
              const panZoom = svgPanZoom(svg);
              SVGPanZoomResize(panZoom);
              const vh = g.getBoundingClientRect().height
                  , vw = g.getBoundingClientRect().width;
              svg.style.height = Math.round(svg.getBoundingClientRect().width * vh / vw) + 'px';
              SVGPanZoomResize(panZoom);
            }
          );
        });

        Array.prototype.forEach.call(
          document.getElementsByTagName('details'),
          d => d.addEventListener(
            "toggle",
            (e) => mermaid.run({ nodes: d.querySelectorAll(mmdCodeSelector), postRenderCallback: mermaidCallback })
          )
        );
      }, false);
    </script>
    {%- endif -%}

    {% if layout.mathjax or page.mathjax %}
    <script>
      MathJax = {
        options: {
          enableMenu: false,
          renderActions: {
            findScripts: [11, function (doc) {
              for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                const display = !!node.type.match(/; *mode=display/)
                const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display)
                const text = document.createTextNode('')
                node.parentNode.replaceChild(text, node)
                math.start = {node: text, delim: '', n: 0}
                math.end = {node: text, delim: '', n: 0}
                doc.math.push(math)
              }
            }, '']
          }
        },
        loader: {
          load: [
            '[tex]/color',
            '[tex]/newcommand',
          ]
        },
        tex : {
          inlineMath : [ ['$','$'] ],
          displayMath : [ ['DISPLAY$', '$DISPLAY'] ],
          packages: {
            '[+]': [
              'color',
              'newcommand',
            ],
          },
          processEnvironments : false,
          processEscapes : false,
          processRefs : false,
          tags : 'ams',
        }
        {%- if layout.revealjs or page.revealjs -%},
        startup : {
            ready: () => {
              MathJax.startup.defaultReady()
              MathJax.startup.promise.then(() => {
                Reveal.togglePause()
              })
            }
          }
        {%- endif %}
      }
    </script>
    {%- endif %}

    {% for script in layout.js -%}
    <script src='{{ site.baseurl }}/assets/js/{{ script }}.js'>
    </script>
    {%- endfor -%}
    {% for script in page.js %}
      {%- assign pre = script | slice: 0,2 -%}
      {%- if pre == './' -%}
        <script src='{{ page.url | replace: "index.html", ""}}{{ script | split: "./" | last }}.js'>
      {%- else -%}
        <script src='{{ site.baseurl }}/assets/js/{{ script }}.js'>
      {%- endif %}
    </script>
    {%- endfor %}
  </body>
</html>