---
layout: page
---

{{ content }}<br>

{%- capture pdf -%} {% include tools/text_process.md data=page.pdf %} {%- endcapture -%}

<object id='pdf' data='{{ pdf }}#view=fitH' type='application/pdf'
        style='width: 100%; height: 100%; margin-top: -0.5em;'>
  <p style='margin: -1em 0 1em;'>
    Your browser does not support PDF objects in HTML.<br>
    Please download the PDF version <a href='{{ pdf }}'>here</a>
  </p>
</object>

<script>
  window.onresize = function() {
    document.getElementById('site-container').style.margin = '0px';
    document.getElementById('pdf').style.height =
      window.innerHeight - document.getElementById('pdf').offsetTop - document.getElementById('site-footer').offsetHeight - 8 + 'px';
  };
  window.onload = window.onresize;
</script>
